#home{
    height: 120vh;
    width: 100%;
    display: grid;

    grid-template-areas:
    "header header header"
    ". tabs ."
    "filters content ."
    ". content ."
    ". pagenumbers ."
    "footer footer footer"
    ;

    grid-template-columns: 2fr 3fr 1fr;
    grid-template-rows: 100px 0.5fr 3fr 3fr 0.5fr 100px;
}

#tabs {grid-area: tabs;}

#content::--webkitscrollbar {
    display: none;
}
#content {
    grid-area: content;
    display: flex;
    flex-direction: column;
    gap: 20px;
    overflow-y: scroll;
    overflow-x: visible;

    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

#filters {grid-area: filters;}
#pagenumbers {grid-area: pagenumbers;}
